*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/snow-bg.png) no-repeat contain;
}

.container{
    width: 85%;
    height: auto;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: #48dbfb;
}

.head-logo{
    margin-right: 20px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul li{
    margin-top: 10px;
    margin-right: 15px;
}
.navbar ul li a{
    font-size: 1.4rem;
    text-decoration: none;
    padding-bottom: 5px;
    color: white;
}
.navbar ul li a:hover{
    border-bottom: 2px solid #373CD5;
    color: #373CD5;
}
.custom-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
    padding: 4px;
    margin: 10px 0 0 10px;
    cursor: pointer;
    opacity: 1;
}
.custom-img:hover{
    opacity: 0.9;
}
.custom-hr{
    border-bottom: none;
    border: 1px solid rgba(1, 19, 14, 0.411);
}
.profile-picture{
    border-radius: 50%;
    width: 300px;
    height: 300px; 
    box-shadow: 4px 2px 81px 0px rgba(0,191,243,0.75);
    animation: upDown 2s infinite alternate;
}

@keyframes upDown {
    0% {
        transform: translateY(5);
    }
    100% {
        transform: translateY(10px);
    }
}
.html{
    width: 85%;
    background-color: blue;
}
.css3{
    width: 75%;
}
.php{
    width: 80%;
}
.js{
    width: 65%;
}
.w-50{
    width: 50%;
}
.name{
    color: #00BFF3;
    font-family: cursive;
}
.w-70{
    width: 70%;
    font-size: x-large;
    text-align: left;
}
.left-head{
    font-weight: normal;
}
.cnt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    margin: 30px 0;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-bottom: 4px solid #00BFF3;
    transition: 0.3s;
    box-shadow: 4px 2px 81px 0px rgba(0,191,243,0.75);
    background-color: #00BFF3;
}
.cnt-btn:hover{
    box-shadow: 0 0 #00BFF3;
    border-bottom-width: 2px;
    transform: translateY(2px);
}
.man-img{
    width: 120px;
    height: 120px;
}

.section-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-image: url(images/bgi.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    box-sizing: border-box;
    
}
.span-sec{
    font-weight: 600;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-top: 5%;
}

.skl{
    font-weight: 550;
    font-size: 25px;
}
.outer-div {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.desc p{
    margin-bottom: 7px;
}
.left-side, .right-side{
    padding: 15px 20px;
    box-sizing: border-box;
}

.inner-div {
    height: 100%;
    background-color: #2e78a357;
}

.skill-container {
    display: grid;
    row-gap: 10px;
}
.skill-container > p{
    color: rgba(0, 0, 0, 0.767);
}
.skill-container h3 {
    margin-bottom: 10px;
}

.skill-container p {
    margin: 5px 0;
}
.about-sec{
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 5%;
}
.about-sec-about{
    padding-bottom: 5px;
    border-bottom: 3px solid blue;
}
.outer-div {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(32, 32, 136, 0.356);
}

.inner-div {
    height: 100%;
}

.html .inner-div {
    border-radius: 5px;
    width: 85%;
    background-color: #1C78FF; 
}
.about-section-desc{
    color: rgba(0, 0, 0, 0.685);
    display: grid;
    row-gap: 15px;
}
.css3 .inner-div {
    border-radius: 5px;
    width: 75%;
    background-color: #1C78FF; 
}

.php .inner-div {
    border-radius: 5px;
    width: 80%;
    background-color: #1C78FF; 
}
.mb{
    margin-bottom: 30px;
}
.js .inner-div {
    border-radius: 5px;
    width: 65%;
    background-color: #1C78FF; 
}
.right-side{
    display: grid;
    row-gap: 8%;
    padding: 5px;
}
.desc{
    font-size: 15px;
}
.end{
    text-align: center;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
}
.footer{
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.social-link a{
    text-decoration: none;
    color: white;
}
.icon{
    font-size: 25px;
    margin-right: 7px;
}
.serv{
    color: rgb(86, 23, 204);
}
.services-container{
    display: grid;
    row-gap: 25%;
}
.head-sc{
    text-align: center;
    margin-top: 2%;
    font-size: 1.9rem;
}
.fona{
    font-size: 30px;
    color: rgb(86, 23, 204);
}
.my{
    color: white;
}
.card-container{
    display: grid;
    row-gap: 2%;
}
.card-container h3{
    font-size: 1.4rem;
}


.card-btn button {
    align-items: center;
    border: 0;
    border-radius: 6px;
    background-color: blue;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    font-size: 18px;
  }
  
  .card-btn button:hover{
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .card-btn button:focus{
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #0922e2 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .card-btn button:active{
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
.section-3{
    padding: 10px 15px;
    box-sizing: border-box;
    height: 500px;
    background: rgb(30, 220, 226);
    background: linear-gradient(180deg, rgb(17, 201, 176) 23%, rgba(0,191,240,1) 87%);
}
.container-main{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.card-container{
    color: white;
    flex: 0 0 calc(33.33% - 20px);
    background: rgba(12, 211, 218, 0.808);
    background: linear-gradient(180deg, rgba(9, 214, 187, 0.726) 23%, rgba(14, 176, 216, 0.815) 87%);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 46px 0px rgba(19, 68, 201, 0.671);
    transition: 1s;
    cursor: pointer;
    height: 250px;
}
.card-container:hover{
    transform: scale(1.5); 
    z-index: 999;   
}